@import url("./balls.css");
/* @import url("./"); */

* {
	box-sizing: border-box;
}
html,
body {
	overflow: hidden;
}
body {
	background: rgb(34, 68, 101);
	margin: 0;
	height: 100%;
	position: relative;
}
h1 {
	text-align: center;
	color: white;
	margin: 10px;
	font-size: 1.6rem;
}
h2 {
	color: rgb(3, 41, 129);
	margin: 5px 0;
	font-size: 1.3rem;
}
h3 {
	color: rgb(3, 41, 129);
	margin: 5px 0;
	font-size: 24px;
}

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(3, 41, 129);
	border-bottom: 1px solid #ccc;
	flex: 1;
	padding: 10px 0;
}
header button {
	color: white;
	background: transparent !important;
	border: none !important;
	height: 100%;
	padding: 5px;
}
header button:hover {
	color: rgb(169, 194, 251) !important;
}
.viewsettings,
.viewstats {
	background: rgb(18, 36, 54);
}
.app-wrapper {
	margin: 1em;
}

/* header popups */

.matchstats {
	background-color: rgba(20, 28, 73, 0.7);
	width: 100%;
	z-index: 1000;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: 100vh;
	visibility: hidden;
}
.matchstats-wrapper {
	position: fixed;
	right: 0;
	top: 0;
	width: 375px;
	background-color: white;
	height: 100vh;
	z-index: 1001;
	overflow-y: auto;
}

.matchstats-header {
	background-color: rgb(3, 41, 129);
	text-align: center;
	display: flex;
	color: white;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	padding: 10px 0;
	position: sticky;
	top: 0;
}
.matchstats-header h2 {
	color: white;
	justify-self: center;
	flex: 1;
}
.matchstats-header i {
	padding: 0 10px 0 0;
}
.matchstats-header i:hover {
	color: rgb(169, 194, 251);
	cursor: pointer;
}
.matchstats-details {
	padding: 1em;
}

.matchsettings {
	background-color: rgba(20, 28, 73, 0.7);
	width: 100%;
	z-index: 1000;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: 100vh;
	visibility: hidden;
}
.matchsettings-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 350px;
	background-color: white;
	height: 100vh;
	z-index: 1001;
}

.matchsettings-header {
	background-color: rgb(3, 41, 129);
	text-align: center;
	display: flex;
	color: white;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	padding: 10px 0;
}
.matchsettings-header h2 {
	color: white;
	justify-self: center;
	flex: 1;
}
.matchsettings-header i {
	padding: 0 10px 0 0;
}
.matchsettings-header i:hover {
	color: rgb(169, 194, 251);
	cursor: pointer;
}

/* ------------------------------- */
/* Accordian styles */
/* ------------------------------- */

#testing .row {
	display: flex;
}
#testing .row .col {
	flex: 1;
}

#testing .tabs {
	/* border-radius: 8px; */
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

#testing .tab {
	width: 100%;
	color: white;
	overflow: hidden;
}
#testing .tab-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: #2c3e50;
	font-weight: bold;
	cursor: pointer;
	/* Icon */
}
#testing .tab-label:hover {
	background: rgb(34, 68, 101);
}
#testing .tab-label::after {
	content: "❯";
	width: 1em;
	height: 1em;
	text-align: center;
	/* transition: all 0.35s; */
}
#testing .tab-content {
	max-height: 0;
	padding: 0 1em;
	color: rgb(34, 68, 101);
	background: white;
	/* transition: all 0.35s; */
}
#testing .tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: rgb(18, 36, 54);
	cursor: pointer;
}
#testing .tab-close:hover {
	background: #1a252f;
}
#testing input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
#testing input:checked + .tab-label {
	background: rgb(34, 68, 101);
}
#testing input:checked + .tab-label::after {
	transform: rotate(90deg);
}
#testing input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}

/* ------------------------------- */
/* End Accordian styles */
/* ------------------------------- */

.show {
	visibility: visible;
	transition: all 1s ease-in;
}
.gamedetails {
	text-align: center;
	/* margin-top: 1em; */
}
.game-stats {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.gamestats,
.p1gamestats,
.p2gamestats {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 19px;
	flex: 1;
}
.p1gamestats,
.p2gamestats {
	column-gap: 19px;
}
.gamestats {
	font-weight: bold;
}
.gametotal {
	display: flex;
	justify-content: space-around;
	flex: 1;
	font-weight: bold;
	margin-top: 10px;
}

/* Match Details Container */
.title {
	color: rgb(3, 41, 129);
}
.match-details-container {
	text-align: center;
	background: rgb(0, 25, 61);
	display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	z-index: 200;
	margin-bottom: 20px;
}
.match-details-inner {
	/* margin-top: 10px; */
	padding: 1rem;
	border-radius: 5px;
	min-height: 200px;
	width: 100%;
	max-width: 450px;
	background: white;
}

.lag {
	background: rgb(3, 41, 129);
	color: white;
	font-size: x-small;
	padding: 3px;
	margin: 0 5px;
	border-radius: 5px;
}
.lag:before {
	content: "Lag";
}

.button input[type="radio"] {
	opacity: 0;
	z-index: 100;
}

.button input[type="radio"]:checked + label {
	background: rgb(169, 194, 251);
	border-radius: 4px;
}

.button label {
	cursor: pointer;
	z-index: 90;
	line-height: 1.3em;
}
.buttongroup {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gameSelect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0 10px 0;
}
.lagQ {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.game-race-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px 0 10px 0;
}
.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#startmatch {
	width: 100%;
	padding: 15px;
	margin-top: 25px;
}

.player-details-form,
.lagQ {
	margin: 5px 0;
}
.player-details-form input,
.race-to input {
	font-size: medium;
	margin: 5px 0;
}
.player-details-form label {
	font-size: small;
}

/* scoreboard */
#scoreboard {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 10px 0;
}
.player {
	font-size: small;
	text-align: center;
}
#p1name,
#p2name {
	text-align: center;
	padding-top: 5px;
}

.nameonscoreboard {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.p1skilllevel {
	font-size: x-small;
	color: white;
	background: rgb(3, 41, 129);
	padding: 0 12px;
	border-radius: 0 5px 0 5px;
	text-align: center;
	position: absolute;
	top: -35px;
	right: -17px;
}
.p2skilllevel {
	font-size: x-small;
	color: white;
	background: rgb(3, 41, 129);
	padding: 0 12px;
	border-radius: 0 5px 0 5px;
	text-align: center;
	position: absolute;
	top: -35px;
	right: -17px;
}
.error {
	font-size: x-small;
	color: red;
}

.p1-stats,
.p2-stats {
	display: flex;
	justify-content: space-between;
	font-size: x-small;
	flex-direction: row;
}
.stats {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	column-gap: 15px;
	text-align: center;
}

.playerscores {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex: 1;
}

.playerscore {
	font-size: 2.2rem;
	font-weight: bold;
	color: white;
}
.playerscoredivider {
	font-size: 2.2rem;
	color: #ccc;
}
.player-details {
	padding: 15px;
	background: #ccc;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.activeTurn {
	border: 1px solid rgb(3, 41, 129);
	background: rgb(169, 194, 251);
}
.activeTurn::after {
	display: flex;
	justify-content: center;
	font-size: small;
	content: "Your Shot!";
	color: white;
	font-weight: bold;
	background: rgb(3, 41, 129);
	padding: 2px;
}
.playerNum {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.scores {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.innings {
	display: flex;
	flex-direction: column;
	font-size: small;
	margin: 10px;
	color: white;
}
.innings span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.deadballs {
	display: flex;
	flex-direction: column;
	font-size: small;
	margin: 10px;
	color: white;
}
.deadballs span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ballsmade {
	font-size: small;
	text-align: center;
	margin: 5px 0;
}
.gamenum {
	color: white;
	display: flex;

	justify-content: center;
	align-items: center;
}

.player-details-form input[type="number"] {
	width: 40px;
}

/* buttons container */
#button-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

/* Buttons */
.btn {
	background: rgb(3, 41, 129);
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	color: white;
	touch-action: manipulation;
	line-height: 1.25rem;
}
.btn:hover {
	background: rgb(169, 194, 251);
	color: rgb(3, 41, 129);
	cursor: pointer;
}

#buttons {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	/* flex: 1; */
}
#buttons button {
	height: 60px;
}
.radiobtn {
	padding: 10px 20px;
}
.hide {
	display: none;
}

.gameoverPopup {
	background: rgba(0, 0, 0, 0.594);
	opacity: 0;
	display: grid;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	transition: opacity 0.2s;
}
.gameoverPopupInner {
	max-width: 600px;
	min-width: 400px;
	padding: 2rem;
	border-radius: 5px;
	min-height: 200px;
	background: white;
}
.gameoverPopup.open {
	opacity: 1;
	pointer-events: all;
}
.block {
	/* display: block; */
	opacity: 1;
	pointer-events: all;
}

.gameover {
	display: flex;
	justify-content: center;
}
#gameoverBtn {
	width: 475px;
	color: white;
	background: red;
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}
#gameoverBtn:hover {
	background: rgb(169, 194, 251);
	color: rgb(3, 41, 129);
}

.resetBtn {
	width: 475px;
	padding: 15px;
	background: red;
	border: 1px solid black;
	margin: 10px 0;
	cursor: pointer;
}
.reset {
	display: flex;
	justify-content: center;
}
.gameoverPopupInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.popup-buttons {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: end;
	padding: 20px 0 0 0;
	column-gap: 5px;
}
.popup-buttons button {
	padding: 15px;
	width: 50%;
}
.radio-buttons {
	font-size: 20px;
}
.radio-buttons input[type="radio"] {
	margin: 5px;
}
.radio-buttons input[type="radio"]:checked {
	color: red;
}
#other-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}
#other-buttons button {
	height: 25px;
}

/* History */
table {
	margin: 50px 0;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr,
td,
th {
	padding: 5px;
	text-align: center;
}
.vertical {
	text-align: center;
	white-space: nowrap;
	transform-origin: 50% 50%;
	transform: rotate(90deg);
}
.vertical:before {
	content: "";
	padding-top: 110%; /* takes width as reference, + 10% for faking some extra padding */
	display: inline-block;
	vertical-align: middle;
}
.small {
	padding: 0;
}
.playerTable {
	width: 150px;
}
